body {
  margin: 0px;
}

#grid-container {
  position: absolute;
  top: 0px;
  margin-left: 160px;
  width: 10000px;
  height: 10000px;
  border: 1px solid black;
  background-color: #6dcf40;
}

.grid-cell {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: green;
}

.buildings {
  position: fixed;
  top: 0;
  left: 0;
}

.controls,
.selected {
  width: 140px;
}

.selectedIcon {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.controls button,
.informations button,
.selected button {
  display: block;
  width: 60px;
  height: 50px;
  margin-left: 10px;
  margin-bottom: 5px;
  padding: 10px;
  cursor: pointer;
}

.selected #selectedIcon {
  cursor: default;
}

.controls button:hover,
#rotate:hover {
  background-color: grey;
}

.description {
  width: 160px;
  text-align: center;
  font-weight: bold;
}

.preview {
  position: absolute;
  pointer-events: none; /* Non interferisce con i clic */
  border: 2px dashed #888; /* Bordo tratteggiato */
  background-color: rgba(255, 255, 255, 0.5); /* Colore semitrasparente */
  display: none; /* Inizialmente nascosta */
}
