.containerside {
    background-color: #1f2c34;
    min-width: 80px;
}

.profile-image {
    height: 40px;
    width: 40px;
    object-fit: cover !important;
    border-radius: 50% !important;
}

.icone {
    position: relative;
    right: 1em;
    border: 2px solid transparent;
    border-radius: 20px;
    padding: 6px;
    list-style: none;
    margin-top: 5px;
    cursor: pointer;
    &:hover {
        background-color: #353b3f;
    }
    &:first-child {
        margin-top: 10px;
    }
}

.basso {
    position: absolute;
    bottom: 0%;
}

@media (max-height: 330px) {
        .impostazioni {
            display: none;
        }
}